.v-text {
    width: 100px;
    height: 100px;
}

.v-text__edit-text {
    word-wrap: break-word;
    outline:none;
    width: 100%;
    height: 100%;
}

.v-text_noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currentlys
                          supported by Chrome and Opera */
}

.v-text_no-resize {
    resize: none;
}

.v-text_no-outline{
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*
    Override css from Jquery UI
    Need for comforts resizable ^_^
*/
/*noinspection CssUnusedSymbol*/
.ui-resizable-se {
    width: 20px !important;
    height: 20px !important;
}

.v-text__edit-label {
    width: 100%; height: 15px; background-color: #0b58a2
}